/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

:root {
    /* Variavies */
    --primary-color: #007ECC;
    --blue-light:  #0092EC;
    --orange-500: #F59B19;
    --headline: #ffffff;
    --paragraph: #ffffff;
    --brand-beige: #001F33;
    --brand-light: #002841;
    --bg-light: #002841;
    /* Hover dos 2 botões whatsapp */
    --brand-dark: #001F33;
    --brand-green-light-02: #001F33;

    --nav-height: 7.2rem; /* Height do cabeçalho = 72px */

    font-size: 62.5%; /* Equivale a 10px, ou seja, 100% é igual a 16px*/
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    text-align: center;
    /* overflow: overlay; */
    background-color: var(--bg-light);
}

.wrapper {
    width: 100%;
    max-width: 50rem;

    /* width: min(50rem, 100%); */
    /* width: 37.5rem; */

    /* São as margens do lado esquerdo e direito*/
    margin-inline: auto;

    /* São os paddings do lado esquerdo e direito*/
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

section h4 {
    font-size: 1.2rem; /* Unidade relativa */
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    margin-bottom: 1.6rem;
    color: var(--headline);
    text-transform: uppercase;
}

section h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);
}

section h1 {
    font-size: 3.4rem; /* Font-size: 34px = 3.4rem, ou seja, dividiu 34 por 10*/
    line-height: 130%;
    margin-bottom: 2.4rem;
    color: var(--headline);
}

section .content p {
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
}

.buttton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    width: fit-content;

    border-radius: 1rem;
    font-size: 1.4rem;
    margin-bottom: 6rem;
    padding: 1.6rem 3.2rem;

    text-transform: uppercase;
    font-weight: 700;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
    color: #fff;
    background-color: var(--primary-color);
}

.buttton:hover {
    background-color: var(--brand-dark);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

/* NAVIGATION */
nav {
    width: 100%;
    height: var(--nav-height);

    display: flex;

    position: fixed;

    z-index: 1000;
    transition: 0.3s;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Ativa quando o scroll for maior que 0 */
nav.scroll {
    background-color: var(--primary-color);
}

nav.scroll .logo path {
    fill: #fff;
}

nav.scroll button path {
    stroke: #fff;
}

nav .menu,
nav .close-menu {
    position: fixed;
}

/* Menu expandido */
body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

/* Configuração do menu mobile */
.menu {
    left: -300px;
}

body.menu-expanded .menu {
    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--primary-color);
    transition: left 0.5s;
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.6rem;

    margin-top: 6rem;

    font-size: 2.4rem;
    line-height: 3.1rem;
    font-weight: 700;
}

.menu ul:nth-child(1) li a {
    color: var(--headline);
    text-decoration: none;
    transition: all 0.5s;
}

.menu ul:nth-child(1) li a:hover {
    color: var(--headline);
}

.menu .button {
    display: inline-block;
    padding: 1.6rem 3.2rem;

    font-size: 1.8rem;
    line-height: 2.3rem;

    margin-top: 4.8rem;
    margin-bottom: 5rem;

    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
    color: var(--primary-color);
    background-color: #fff;
    
}

.menu .button:hover {
    background-color: var(--brand-light);
    color: #fff;
   
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path {
    fill: #fff;
}

body.menu-expanded button path {
    stroke: #fff;
}

/* Home */
#home {
    /* padding-block: 0; */
    padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
    content: "";

    width: 100%;
    height: calc(80% + var(--nav-height));

    display: block;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    background-color: var(--brand-light);
}

#home p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 3.2rem;
    color: var(--paragraph);
}

#home .buttton {
    margin-inline: auto;
}

#home img {
    width: 55.4rem;

    display: block;

    margin-inline: auto; /* Margens do lado esquerdo e direito*/
   
}

#home .stats {
    width: 100%;

    padding-block: 4rem;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 6rem;
    border-radius: 0.6rem;

    border: 1px solid var(--brand-light);
    background-color: var(--blue-light);
}

#home .stat h3 {
    font-size: 4.8rem;
    line-height: 130%;
    margin-bottom: 0.4rem;
    color: var(--headline);
}

#home .stat p {
    margin: 0;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--blue-500);
}

/* services */
#services {
    padding-top: calc(4.1rem + var(--nav-height));

}

#services header h2 {
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    
}

#services .card {
    padding: 2.4rem;
    border-radius: 0.6rem;

    text-align: left;
    border: 1px solid var(--brand-light);
    background-color: var(--brand-dark);
}

#services .card h3 {
    color: var(--blue-light);
    margin-block: 1.6rem; /* Margin-block pega as margens de cima e baixo*/
}


#clients {
    padding-block: 10rem;
}

#clients header h2 {
    margin-bottom: 6rem;
}
#clients .wrapper {
    width: 100%;
}

#clients .empresas ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

#clients .empresas ul li {
    width: 23%;
    height: 23%;
    flex-direction: column;
    flex-grow: 1;

    
}

#clients .empresas ul li img {
    border-radius: 1rem;
   
    outline: solid 4px var(--brand-light);
    outline-offset: -1px;
}

/* about */
#about {
    padding-block: 10rem;

    text-align: left;
    background-color: var(--brand-beige);
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    margin-bottom: 6rem;
}

/* Contact */
#contact {
    padding-block: 10rem;

    text-align: left;
   
}

#contact header h2 {
    max-width: 300px;
    margin-bottom: 3.2rem;
}

#contact .content ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin-bottom: 1.6rem;
}

#contact .content p {
    font-size: 1.4rem;
}

#contact .content ul li:nth-child(2) {
    margin-bottom: 3.2rem;
}

/* Footer */
#footer {
    padding-block: 6rem;
    text-align: left;
    background-color: var(--brand-dark);
    color: #fff;
}

#footer .logo-footer {
    margin-bottom: 2.4rem;
}

#footer .p p {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    font-weight: 400;
    color: var(--headline);
}

#footer .p p:last-child {
    margin-bottom: 3.2rem;
}

#footer .social-links {
    justify-content: flex-start;
}

/* Back to top */
#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transition: 0.5s;

    transform: translateY(100%);
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}





/* RESPONSIVO */
@media screen and (min-width: 1024px) {
    /* GERAL */
    .wrapper {
        width: 100%;
        max-width: 1120px;

        display: grid;
    }
    .maps {
        width: 5;
    }
    section h2 {
        font-size: 4rem;
        line-height: 5.2rem;
    }
    section h4 {
        font-size: 1.6rem;
    }

    .col-a {
        grid-area: A;
    }

    .col-b {
        grid-area: B;
    }

    /* RESET */
    nav#navigation .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        font-weight: initial;
        gap: 0;
    }

    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .social-links {
        display: none;
    }

    nav#navigation .menu {
        width: 68%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav#navigation .menu ul:nth-child(1) {
        display: flex;
        gap: 3.2rem;
    }

    nav#navigation .menu ul li a {
        color: var(--headline);
        opacity: 0.7;
    }

    nav#navigation .menu .button {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1rem 2.4rem;
        border-radius: 1rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--headline);
        background: var(--primary-color);
        

    }

    nav#navigation .menu a.button:hover {
        background-color: var(--blue-light);
        border: 1px solid var(--headline);
        color: #fff;
    }

    nav#navigation.scroll .menu ul li a {
        color: var(--headline);
        opacity: 0.6;
    }

    nav#navigation.scroll .menu .button {
        border-color: #fff;
        color: #fff;
    }

    nav#navigation .menu li a {
        transition: opacity 0.4s;
    }

    nav#navigation .menu li a.active,
    nav#navigation .menu li a:hover {
        opacity: 1;
        font-weight: 700;
    }

    nav#navigation .menu li a::before {
        content: "";

        width: 0;
        height: 2px;

        display: block;

        position: relative;
        bottom: -5rem;
        left: -1rem;

        transition: width 0.5s;
        background-color: var(--primary-color);
    }

    nav#navigation.scroll .menu li a::before {
        background-color: #fff;
    }

    nav#navigation .menu li a.active::before,
    nav#navigation .menu li a:hover::before {
        padding-inline: 1rem;
        width: 100%;
    }

    nav#navigation.scroll .menu li a.active,
    nav#navigation.scroll .menu li a:hover {
        opacity: 1;
    }
    nav#navigation.scroll .menu a.button {
        background-color: var(--brand-dark);
       
    }
    nav#navigation.scroll .menu a.button:hover {
        background-color: var(--brand-dark);
        
    }

    /* HOME */
    #home::before {
        height: calc(97% - var(--nav-height));
    }

    #home {
        padding-top: var(--nav-height);
    }

    #home .wrapper {
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas:
            "A B"
            "C C";
    }

    #home .col-a {
        text-align: left;
        margin-top: 8rem;
    }

    #home .col-a header h1 {
        font-size: 5.2rem;
    }

    #home .col-a .content p {
        font-size: 1.8rem;
    }

    #home .col-a .content .buttton {
        margin: 0;
    }

    #home .col-b {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home .col-b img {
        width: 82rem;
    }

    #home .stats {
        grid-area: C;
        flex-direction: row;

        margin-top: 8rem;

        padding: 6rem;
        gap: 0;
    }

    #home .stats > .stat:not(:first-child) {
        border-left: 1px solid var(--primary-color);
    }

    #home .stats .stat {
        flex: 1;
    }

    /* SERVICES */
    #services {
        padding-block: 10rem;
    }

    #services header h2 {
        
        margin-inline: auto;
        margin-bottom: 6.4rem;
    }

    #services .wrapper {
        max-width: 112.1rem;
    }

    #services .cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    #services .cards .card {
        width: 30.8%;
        height: 20%;
        flex-direction: column;
        flex-grow: 1;
    }


    #clients {
        padding-block: 10rem;
    }
    #clients .wrapper {
        max-width: 112.1rem;
    }

    #clients .empresas ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    #clients .empresas ul li {
        box-sizing: border-box;
        width: 14rem;
        height: 15%;
        flex-direction: column;
        flex-grow: 1;

     
    }

    #clients .empresas ul li img {
        border-radius: 0.7rem;
        
        outline: solid 4px var(--brand-light);
        outline-offset: -1px;
    }

    /* ABOUT */
    #about {
        padding-block: 10rem;
    }

    #about .wrapper {
        grid-template-columns: 48rem 1fr;
        grid-template-areas: "B A";
        gap: 6.7rem;
        align-items: center;
    }

    #about .wrapper .col-a header h2 {
        max-width: 44.7rem;
    }

    #about .wrapper .col-a .content p {
        margin-bottom: 0;
    }

    /* CONTACT */
    #contact {
        padding-block: 10rem;
    }

    #contact .wrapper {
        grid-template-columns: 1fr 57.5rem;
        grid-template-areas: "A B";
        gap: 14.1rem;
        align-items: center;
    }

    #contact .wrapper .col-a .content .buttton {
        margin-bottom: 0;
    }

    #contact .wrapper .col-a header h2 {
        max-width: 40.4rem;
    }

    /* FOOTER */
    #footer {
        padding-block: 8rem;
    }

    #footer .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "A B";
        align-items: center;
        gap: 5.9rem;
    }

    #footer .wrapper .col-a .p p {
        margin-bottom: 1.5rem;
    }

    #footer .wrapper .p p:last-child {
        margin-bottom: 0;
    }

  
}



/* TOGLERS */

.card-title {
    display: flex;
    gap: 1rem;  
    align-items: center;
}
.card-text {
	display: none;	
}

.card.active .card-text {
	display: block;
}

.card-toggle {
	background-color: transparent;
	border: none;
	border-radius: 50%;
	color: var(--blue-light);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	padding: 0;
	position: absolute;
	top: 3.0rem;
	right: 3.0rem;
	height: 3.0rem;
	width: 3.0rem;
    transition: 0.4s ease;
}

.card-toggle:focus {
	outline: none;
}

.card.active .card-toggle {
	transform: rotate(180deg);
    background-color: var(--blue-light);
    color: white;

}

.card-toggle:hover {
    color: white;
}


